[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3"

[packages]
django = ">=4.1"
django-heroku = "*"
gunicorn = "*"
django-storages = "*"
django-utils-six = "*"
boto3 = "*"
django-debug-toolbar = "*"

[dev-packages]
