<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> Full Bore Studios </title>
    <meta name="description" content="Starter Template">
    <meta name="author" content="Gregry Pike">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@700&display=swap" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>



<lottie-player
    src="https://assets5.lottiefiles.com/packages/lf20_sfiiilbf.json"
    background="transparent"
    speed="1"
    class="launch"
    loop
    autoplay
></lottie-player>

<h1> Launching Site... </h1>


<script src="/static/js/scripts.js"></script>
</body>
</html>


                            <!--/
                              //             \
                         /  / /            __ \\
                       //  | |      _____/  /  \ \  \
                      ||   | |     /    /  /    | |  \\
                      ||   | |    / __ /__/ \   | |   ||
                       \\  | |   | (__)      |  | |   ||
                         \  \ \   \         /   | |  //
                              \\   \_______/   / /  /
                                \  /  /       //
          ___________             /  /       /
     ____/           \___________/  /______              ______
    /           0               /__/        \___________/       \
  /                        0          __                      0  \
 /       __                          (__)                         |
|       (__)                                        0             |
|                              0                                  |
|_________________________________________________________________|
|_   _| |_| |/ __|  __| | | | |  | |  /  __|_   _|/ _ \/  __| |/ /
  | | |  _  |  __|  _|| |_| | |__| |__|__  | | | | |_| | |__|   {
  |_| |_| |_|\___|_|   \___/|____|____|___/  |_| |_| |_|\___|_|\_\
 _________________________________________________________________
|______________________________________________                  |
 _____           _____________   ____________  |                 |
|     |         |             | |            | |______     ______|
|     |         |    _____    | |    ________|        |   |
|     |         |   |     |   | |   |___              |   |
|     |         |   |     |   | |       |             |   |
|     |         |   |     |   | |    ___|             |   |
|     |_______  |   |_____|   | |   |                 |   |
|             | |             | |   |                 |   |
|_____________|_|_____________|_|___|_________________|___|_______
|  \ \_/ \_/ /     /   |    |    /|   / \_/  /      /  |   |    / |
|   \_______/\    /\   /\   /\  /\ \_/ /_\  /\_____/\  /\  /\  /  |
|             \  /  \/\/\/\/\/\/  \________/  __     \/\/\/\/\/   |
|   0   __     \/            0               (__)                 |
|      (__)                               0               0       |
\________________________________________________________________-->